<div class="row" id="add_comment">
  <div class="col_md_6 col_md_offset_3">
    <%= form_for @comment, :url => location_comments_path(@location), remote: true do |f|%>

    	<%= f.label :content %>
    	<%= f.text_field :content, class: 'form-control' %>

    	<%= f.label :rate %>
    	<%= f.text_field :rate, class: 'form-control' %>
   	<% end %>
  </div> 
</div>