<div id="location_detail" class="location">
  <div class="row">
    
    <div class="col-md-4">
      <div class="img">
        <%= image_tag @location[:img_url] %>
      </div>
      <div class="like" id="like">
        <button type="button" class="btn btn-link">Like</button>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="location_information">
        <ul>
          <li><%= @location[:name] %></li>
          <li><%= @location[:address] %></li>
          <li><%= @location[:start_time].strftime("%H:%M:%S") + " - " + @location[:end_time].strftime("%H:%M:%S") %>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <% if @location[:avg_price] > 0.0 && @location[:avg_price] < 50.00 %>
        <p>$</p>
      <% elsif @location[:avg_price] >= 50.00 && @location[:avg_price] < 100.00 %>
        <p>$$</p>
      <% else %>
        <p>$$$</p>
      <% end %>
    </div>

  </div>

  <div id="location_intro" class="location">
    <p><%= @location[:intro] %></p>
  </div>

  <div id="location_map" class="location">

  </div>
  
  <div id="add_comment" class="comment">
    <button type="button" class="btn btn-link">
  </div>

  <div id="comment_list" class="comment">
    <ul class="list_group">
      <% @location.comments.each do |comment| %>
      <li class="list-group-item list-group-item-info">
        <div>
          <div><%= "@" + comment.user[:name] + ":" + comment[:content] %></div>
          <div class="row">
            <div class="col-md-1">
              <button type="button" class="btn btn-link" id="comment_upvote">
                <%= "Upvote: " + comment[:upvote] %>
              </button>
            </div>

            <div class="col-md-1">
              <button type="ubtton" class="btn btn-link" id="comment_downvote">
                <%= "Downvote: " + comment[:downvote] %>
              </button>
            </div>
            
            <div class="col-md-2"><%= comment[:time].to_s %></div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
