<div id="location_detail" class="location">
  <div class="row">
    
    <div class="col-md-2 col-md-offset-1">
      <div class="container">
        <%= image_tag @location[:img_url] %>
      </div>
      <div id="like">
        <%= link_to @like.to_s, like_path(@location), method: :post, remote: true%>
      </div>
    </div>
    
    <div class="col-md-2 col-md-offset-1">
      <div class="container">
        <ul>
          <li><%= @location[:name] %></li>
          <li><%= @location[:address] %></li>
          <li><%= @location[:start_time].strftime("%H:%M:%S") + " - " + @location[:end_time].strftime("%H:%M:%S") %>
        </ul>
      </div>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <div class="container">
        <% if @location[:avg_price] > 0.0 && @location[:avg_price] < 50.00 %>
          <p>$</p>
        <% elsif @location[:avg_price] >= 50.00 && @location[:avg_price] < 100.00 %>
          <p>$$</p>
        <% else %>
          <p>$$$</p>
        <% end %>
        <div>Rate: <%= @rate %></div>
      </div>
    </div>

  </div>

  <div id="location_intro" class="panel panel-default">
    <p><%= @location[:intro] %></p>
  </div>

  <div id="location_map" class="panel panel-default">

  </div>
  
  <%= link_to "Add comment", new_location_comments_path(@location), remote: true%>
  <div id="add_comment" class="container">

  </div>

  <div class="container">
    <ul id="comment_list" class="list_group">
      <% @location.comments.each do |comment| %>
        <li class="list-group-item list-group-item-info" id="comment_<%= comment[:id] %>">
      	<%= render comment %>
        </li>
      <% end %>
    </ul>
  </div>

</div>

